#level-1 {
  display: flex{}
  P{coluumn
#level-2 {
  display: flex;
}
#level-3 {
  display: flex;
}
#level-4 {
  display: flex;
}
#level-5 {
  display: flex;
}
#level-6 {
  display: flex;
}
#level-7 {
  display: flex;
}
#level-8 {
  display: flex;
}
#level-9 {
  display: flex;
}
